.execute {
  margin-top: 5px;
}

.CodeMirror {
  border: 1px solid #222;
  height: auto;
  font-size: 12px;
}

pre.CodeMirror-line {
  font-size: 1em;
}

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

.error {
  color: red;
  transition: 0.5s;
  overflow: hidden;
  margin: 15px;
}

.output {
  overflow: auto;
}

table {
  width: auto;
  margin: auto;
  border: 1px solid black;
  border-collapse: collapse;
  margin-bottom: 10px;
  font-size: 0.8rem;
}

th,
td {
  border: 1px solid #777;
}

label {
  font-size: 1rem;
}
