body {
    
    font-family: sans-serif;

}

h1 {
   font-size:24px;
   color : navy;
   font-weight : bold;
   background-color : rgb(128,128,255);
   padding : 3px;

}

p {
    background-color:#EEEEEE;
   font-size: 12px;
   margin: 0 15px;
   padding : 20px;
   width:80%;
   color : black;
   border : thin solid #BBBBBB;
   margin : 1px;

}


#test {
    width: 300px;
    height :200px;
    margin:auto;
    border : thin solid black;
    background-color : white;
}

#buttons{
margin:10px;
text-align:center;
padding : 2px;
}

.button {
margin:5px;
border : 1px solid #444444;
border-radius : 4px;
background-color : #CCCCCC;
color: white;
font-weight:bold;
padding:5px;
}
.button:hover {
background-color:#444444;
}


#RGB {
    margin : auto;
    padding : 5px;
    background-color : #BBCCDD;
    width:200px;
    text-align:center;
}
.color {
    font-weight : bold;
    text-align : right;
    width:50px;
}




.consigne{
    margin : auto;
    margin-bottom:15px;
    width : 80%;
    padding: 5px;
    color: #222222;    
    background-color:rgb(255,255,128);
    border : 1px solid green;
    border-radius : 3px;
    font-size:10px;
}
