html {
    /*position: relative;*/
    height: 100vh;
}

body {
    background-color: #eee;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow: auto;
}

textarea {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.basthon-logo {
    height: 12vh;
    filter: drop-shadow( 0.3vw 0.3vw 0.3vw rgba(0, 0, 0, .5));
    margin: 0vw;
}

#container {
    width: 90%;
    position: relative;
    margin: auto;
}

#left-div {
    width:50%;
    height:100%;
    margin: auto;
    float: left;
}

#right-div {
    width:48%;
    height:100%;
    position:relative;
    margin: auto;
    float: right;
}

#editor {
    float:none;
    width: 100%;
    height: 60vh;
    border-radius: 7px;
    margin: 0px;
    padding-top: 0px;
}

#shell {
    position: relative;
    width: 100%;
    height: 60vh;
    float: none;
    background-color: #272822;
    color: #fff;
    resize: none;
    font-size: 12pt;
    margin: 0px;
    padding: 5px;
    border-radius: 7px;
    border-width: 0px;
}

#graphics {
    position: relative;
    width: 100%;
    height: 60vh;
    float: none;
    flex: initial;
    background-color: #eee;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding: 0px;
    border-style: dotted;
    border-color: #272822;
    border-radius: 7px;
    border-width: 3px;
}

.btn-logo {
    font-size: 1.5vw;
}

.btn-titled {
    padding-right: 0.7vw;
}

.btn {
    background-color: #366f9e;
    border: none;
    border-radius: 7px;
    color: white;
    padding: 1.1vw 1.8vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    box-shadow: 0 0.5vw #999;
    margin-right: 1vw;
}

.btn:hover {
    background-color: #ffc938;
    cursor: pointer;
}

.btn:active {
    box-shadow: 0 0.2vw #666;
    transform: translateY(0.3vw);
}

a {
    color: #888;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#about {
    font-size: 3vw;
}

.popup_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    opacity: 0.8;
}

.popup_content {
    display: none;
    position: absolute;
    top: 15vh;
    left: 15vw;
    width: 70vw;
    height: 70vh;
    padding: 0px 16px 16px 16px;
    border: 1px solid #272822;
    border-radius: 7px;
    background-color: #eee;
    z-index: 1002;
    overflow: auto;
}

.popup_close {
    display: none;
    position: absolute;
    background-color: #eee;
    border-radius: 1.2vw;
    top: 13vh;
    left: 14vw;
    z-index: 1003;
    overflow: auto;
    cursor: pointer;
}
