html {
}

body {
    background-color: #eee;
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    font-size: 1.2vw;
}

textarea {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

textarea:focus {
    outline: none !important;
}

.basthon-logo {
    height: 12vh;
    filter: drop-shadow( 0.3vw 0.3vw 0.3vw rgba(0, 0, 0, .5));
    margin: 0vw;
}

#container {
    width: 90%;
    height: 75vh;
    position: relative;
    margin: auto;
}

#left-div {
    width:50%;
    margin: auto;
    float: left;
}

#right-div {
    width:48%;
    position:relative;
    margin: auto;
    float: right;
    font-size: 0;
}

/* default mode is dark */
.darklighted {
    --background: #272822;
    background-color: #272822;
    --color: #fff;
    color: #fff;
}

.light {
    --background: #fff;
    background-color: #fff;
    --color: #272822;
    color: #272822;
}

#editor {
    float: none;
    width: 100%;
    height: 60vh;
    border-radius: 0.6vw;
    margin: 0px;
    padding-top: 0px;
}

#shell {
    position: relative;
    width: 100%;
    height: 60vh;
    float: none;
    resize: none;
    font-family: "Monaco", "Menlo", "Ubuntu Mono", "Consolas", "source-code-pro", monospace;
    font-size: 12pt;
    margin: 0px;
    border-radius: 0.6vw;
    border-width: 0px;
}

.terminal {
    --size: 1.333;
}

/* clickable script content */
.terminal-output > :not(.raw) div.exec-script-header:hover {
    background-color: #aaa;
    border-radius: 0.3vw;
    cursor: pointer;
}

/* to force x-scroll */
.terminal-output div[style*="100%;"] {
    overflow: unset;
}

#graphics {
    position: relative;
    width: 100%;
    height: 60vh;
    float: none;
    flex: initial;
    background-color: #eee;
    resize: none;
    box-sizing: border-box;
    margin-bottom: 0px;
    padding: 0px;
    border-style: dotted;
    border-color: #272822;
    border-radius: 0.6vw;
    border-width: 0.25vw;
    font-size: 12pt;
}

.btn-logo {
    font-size: 1.5vw;
}

.btn-titled {
    padding-right: 0.7vw;
}

.btn {
    background-color: #366f9e;
    border: none;
    border-radius: 0.6vw;
    color: white;
    padding: 1.1vw 1.8vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    box-shadow: 0 0.6vw #999;
    margin-right: 1vw;
}

.btn:hover {
    background-color: #ffc938;
    cursor: pointer;
}

.btn:enabled:active {
    box-shadow: 0 0.2vw #666;
    transform: translateY(0.3vw);
}

a {
    color: #888;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#help {
    font-size: 3vw;
}

/* Fontawesome fix for version 5 */
.fa-arrows:before {
    content: "\f0b2";
}

.notie-background-success {
    background-color: #ffc938; }

.notie-background-warning {
    background-color: #366f9e; }

.notie-background-error {
    background-color: #366f9e; }

.notie-background-info {
    background-color: #aaaaaa; }
