
html {
   background-color:#F7F7F7;
}
body {
  background-color: white;
  margin: auto;
  width : 90%;
  border-left : 2px solid #EEEEEE;
  border-right : 2px solid #EEEEEE;
}



img {
    width:200px;
    margin : 10px;
    vertical-align: text-top;
    border : solid thin black;
    padding:5px;
}

img.brueghel {
   border-style:inset;
   border-width:2px;
}

img.monet {
    border-color : green;
    padding:10px;
}

img.matisse {
    border-width:8px;
    padding:0px;
    border-color:blue;
}

#prefere  {
    width:300px;
    border-color:red;
    border-width:2px;
}

.tableaux {
    background-color : #FFFFBB;
    text-align:center;
    margin:1% 10%;
}

.peintre {
    font-weight : bold;
    color : green;
}

#piedDePage {
    font-size:small;
    font-style: italic;
    color : white;
    background-color : silver;
    text-align: right;
    margin : 10px;
    padding: 2px 10px;
}
